.bingoSquare {
    background-color: #f3f5f2;
    position: relative;
}

.taskTextContainer {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.taskTextContainer:hover {
    color: #1d3557;
}

.taskLinkContainer {
    width: 100%;
    align-self: flex-end;
    display: block;
}
.taskLink {
    position: relative;
    text-decoration: none;
    color: #457b9d;
    text-transform: uppercase;
    padding: 2px 10px;
    transition: 0.1s;
    display: inline-block;
}

.taskLink:hover {
    color: #e63946
}
.taskLink:before, .taskLink:after {
    transition: 0.1s;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border: 3px solid #a8dadc;
    width: 0.25em;
}
.taskLink:before {
    left: 0;
    border-right: 0px;
}
.taskLink:after {
    right: 0;
    border-left: 0px;
}

.taskLink:hover:before, .taskLink:hover:after {
    border-color: #457b9d;
}

.BingoCard {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

@media screen and (min-width: 801px) {
    .bingoSquare {    
        display: flex;
        padding: 0.5em 1em;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
    }


    .bingoSquare:before {
        display: block;

        content: "\2714";
        color: #e63946;

        position: absolute;
        text-align: center;
        pointer-events: none;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0, -150%);
        font-size: 8em;
        opacity: 0.3;           
        transition: 0.1s;
    }
    .bingoSquare--checked:before {
        transform: translate(0, -50%);
    }
    
    .bingoCheckbox {
        display: none;
    }

    .taskTextContainer {
        display:flex;
        align-items: center;
        flex-grow: 1;
    }
    .taskText--vote {
        font-size: 3em;
    }
}

@media screen and (max-width: 800px) {
    
    .BingoCard {
        grid-template-rows: repeat(24, auto);
		grid-template-columns: auto;
    }

    .bingoSquare {
        display: grid;
        grid-template-columns: 25px auto;

        grid-gap: 0.5em;
        text-align: left;
        align-items: flex-start;
        padding: 0.5em;
    }

    .taskLinkContainer {
        width: auto;
        grid-column: 2;
    }

    .taskLink {
        display: inline-block;
    }

    .taskText--vote {
        font-size: 1.5em;
        line-height: 1;
    }

    .taskTextContainer {
        grid-column: 2;
        grid-row: 1;
    }

    .bingoCheckbox {
        border: 2px solid #457b9d;
        position: relative;
        padding-bottom: 80%;
        font-size: 1em;
        opacity: 1;
    }

    .bingoSquare--checked .bingoCheckbox:before {
        display: block;
        content: "\2714";
        color: #e63946;
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.2em;
    }
}