.Header {
    font-family: 'Secular One', Arial, Helvetica, sans-serif;
    color: #1d3557;
    font-size: 3em;
    text-transform: uppercase;
}

.Header .aside {
    color: #e63946;
}


@media screen and (max-width: 800px) {
    .Header {
        font-size: 1.5em;
    }
}