:root {
  --red: #e63946;
  --honeydew:#f1faee;
  --neutral: #f3f5f2;
  --light-blue: #a8dadc;
  --medium-blue: #457b9d;
  --dark-blue: #1d3557;
  --almost-black: #181a1e;
  --decor-font: 'Secular One', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f5f2;
  color: #181a1e;
  font-family: 'Secular One', Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.mainContainer {
  max-width: 1200px;
  width: 95%;
  border-radius: 5px;

  background-color: #a8dadc;
  padding: 1em;

  box-shadow: 0px 5px 8px -3px #dddddd;

  margin: 0 auto;
}

.cardHeader {
  position: relative;
}
.cardTitle {
  color: #457b9d;
  font-size: 2.5em;
  text-transform: uppercase;
  margin: 0 0 0.25em;
  letter-spacing: 0.15em;
}
.resetButton {
  font-family: 'Secular One', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  outline: none;
  border: none;
  background-color: #e63946;
  color: #f3f5f2;
  margin-bottom: 0.5em;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 800px) {
  .resetButton {
    position: relative;
  }
}